@import "tailwindcss";

:root {
  --black-han-sans: var(--font-black-han-sans);
  --fredoka: var(--font-fredoka);
}

body {
  background: #ffffff;
  color: #3B3B3B;
  font-family: var(--fredoka), sans-serif;
}

h1, h2, h4, h5, h6 {
  font-family: var(--black-han-sans), sans-serif;
}
